@model List<Book>

<h5>Book List</h5>
  <a class="btn addBtn" asp-area="" asp-controller="Home" asp-action="Create">Add Book</a>
                 @* <button class="addBtn" asp-area="" asp-controller="Categories" asp-action="Create">Add New Category</button> *@
             
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.Title</td>
                 <td>@if (book.CategoryId != null)
                {
                    @book.Category.Name
                }</td> 
                <td>@book.Author</td>
                 <td>
                    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-delete btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
